.navbar-brand {
  font-family: 'Nueva Fuente', Fantasy;
}

#carouselExampleCaptions {
    max-width: 800px; /* Establece el ancho máximo del carrusel según tus necesidades */
    margin: auto; /* Centra el carrusel horizontalmente */
  }
  
#carouselExampleCaptions .carousel-item img {
  width: auto;
  max-width: 100%; /* Hace que las imágenes se ajusten al ancho máximo disponible */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }

  html, body {
    height: 100%; /* Establece la altura del html al 100% de la ventana gráfica */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    margin: 0;
    padding: 0;
    background-image: url('img/hexagono.jpg'); /* Ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
